*:visited{
    text-decoration: none;
}

.photo_resize{
    transition: transform 0.2s ease-in-out;
}
.photo_resize:hover{
    transform: scale(1.2);
}


/* ------------------------------ NAV BAR ------------------------------ */
.navigation_bar{
    height: 60px;
    opacity: 50%;
    border-bottom-width: 5px;
    border-bottom: rgb(255, 106, 0);
    background-color: black;
}

.nav_bar_option{
    height: 100%;
    width: 20%;
    float: left;

    vertical-align: middle;
    line-height: 60px;
    text-align: center;
    font-family: 'bulletproof';
    font-size: 30px;
    color: white;

    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.nav_bar_option:hover{
    transform: scale(1.2);
    color: rgb(255, 106, 0);
}

.sticky{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

/* ------------------------------ CONTACT ------------------------------ */
.contact_person{
    width: 33%;
    float: left;
    font-family: 'bulletproof';
    color: white;
    font-size: 25px;
    padding-top: 25px;
}

.contact_photo{
    opacity: 85%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: opacity 0.5s ease-in-out;
}

.contact_photo:hover{
    opacity: 100%;
}
.text-cover{
    opacity: 20%;
	transition: all 0.5s ease-in-out;
}
.contact_person:hover .text-cover{
    opacity: 100%;
    visibility: visible;
}
/* ------------------------------ DIVIDING BAR ------------------------------ */
.dividing_bar{
    float: left;
    background-color: black;
    border-color: chocolate;
    width: 100%;
    height: 60px;
    opacity: 75%;

    padding-top: 5px;
    line-height: 60px;
    vertical-align: middle;
    font-family: 'bulletproof';
    font-size: 50px;
    text-align: center;
    color: white;
    
    transition: background-color 0.9s ease-in-out, opacity 0.9s ease-in-out;

}
.dividing_bar:hover{
    background-color: black;
    opacity: 90%;
}

/* ------------------------------ CONTENT DIV ------------------------------ */
.content_div{
    float: left;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: transparent;
}

.temp{
    width: 70%;
    height: auto;
    font-family: 'Exninja';
    text-align: justify;
    padding: 12px;
    font-size: 20px;
    border-radius: 5%;
    background-color: black;
    opacity: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: auto;

    transition: opacity 0.9s ease-in-out;
}
.temp:hover{
    opacity: 85%;
}

.photo_div{
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    background-image: url("../images/gallery/IMG_7224-1.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    width: 50%;
    height: 100%;
}



